<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>{{button_icon}}</mat-icon>
  </button>
  <span>Minecraft Server Client</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>

</mat-toolbar>


  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list >
        <div *ngIf="!status.online">
          <a mat-list-item *ngFor="let serverIdx of servers" (click)="triggerServer(serverIdx.name)" [disabled]="isDownloading" > {{serverIdx.name}} </a>
        <a mat-list-item   mat-list-item><mat-checkbox class="example-margin" [checked]="window" (change)="changeValue($event)">Show Window</mat-checkbox></a>
        <a mat-list-item (click)="sidenav.toggle()"  mat-list-item>Close</a>
        </div>
        <div *ngIf="status.online">
          <a mat-list-item   (click)="serverService.sendRcon('stop')"> Stop </a>

        <a mat-list-item (click)="sidenav.toggle()"  mat-list-item>Close</a>
        </div>

      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">


      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
